* { padding: 0; margin: 0; outline: 0; }

body {
font-size: 14px;
line-height: 18px;
font-family: "Times New Roman", Times, serif;
margin: 0 auto;
height: 100%;;
width: 100%;
/*background:#f0ece1;*/
background-image:url(../images/bg.png);

}


header{
	/*background:#504b43; */
	height:40px;
	width:100%;
}




nav{
position:relative;
margin: 0 auto;
height: 40px;
width: 1000px;
}

nav ul{
	float:right;
	position:relative;
	margin-right:30px;
	margin-top:12px;
	text-decoration: none; 

}

nav li{
	list-style-type: none;
    display: inline-block;
	color:#827c72;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 15px;
	text-decoration: none; 
   	margin-left: 20px;

	

}

nav li a{
	text-decoration:none;
	color:#827c72;
	border:none;
}
 nav li.active{
	color:#FFF;
	border:none; 
}

nav p{
	color:#FFF;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 15px;
	float:right;
	position:relative;
	margin-right:30px;
	margin-top:15px;
}

nav p a{
	text-decoration:none;
	color:#FFF;
}

nav img{
	float:left;
	position:relative;
	margin-leftt:30px;
	margin-top:4px;
}



#container{
position:relative;
margin: 0 auto;
height: 100%;
width: 1000px;
min-height:100%;
}




#cover{
position:relative;
/*background:#477882;*/
width:100%;
height:508px;
}

#cover img{
	position:relative;
	height:411px;
	width:561px;
	top:40px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}



#what{
	position:relative;
	/*margin-top:30px;*/
	height:740px;
	width:1000px;
	/*background:#f0ece1;*/

}



#what-content{
position:relative;
top:30px;
}

#what h1{
	position: relative;
line-height:44px;
width:450px;	
font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
font-size:26px;
color:#6a645a;
margin-left:40px;


}

#what p{
	position:relative;
	font-family: "Helvetica Neue";
	margin-top:20px;
	width:840px;
	color:#6a645a;
	font-size:14px;
	display:block;
	margin-left:40px;


	}

#what img{
	position:relative;
	width:699px;
	height:468px;
	top:60px;
		
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#meet-traders{
position:relative;	
width:1000px;
height: 540px;
/*background:#dad5c6;*/
	
}
#meet-traders h1{
position: relative;
line-height:44px;
width:100%;	
font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
font-size:26px;
color:#6a645a;
margin-left:40px;
top:30px;

}


/*Adapt the following styling depending on where you want to put your map. If you want a 'full screen' map, then set the width and height to 100 percent and remove the margins.*/
	  #cardigan-map { 
	  	  position:relative;
		  top:40px;
	  	  height: 80%;
		  width: 100%; 
		  margin-left: auto;
          margin-right: auto;
		 /* border-right-width: 2px;
		  border-right-color: #6a645a;
		  border-right-style: solid;
		  border-left-width: 2px;
		  border-left-color: #6a645a;
		  border-left-style: solid;
		  border-top-color:#6a645a;
		  border-top-style:solid;
		  border-bottom-color:#6a645a;
		  border-bottom-style:solid;*/
	  }
	  
	  .pop_up_box_text {
	 	  font-family: Georgia, 'Times New Roman', Times, serif; 
		  font-size: 16px; 
		  line-height: 22px; 
		  color: #ffffff; 
		  display: inline; 
	  }





#how-it-works{
	height:428px;
	width:100%;
	/*background:#f0ece1;*/

}
#how-content{
position:relative;
margin-left:40px;
top:30px;

}
#how-content h1{
line-height:44px;
width:920px;	
font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
font-size:26px;
color:#6a645a;

}

#how-content-steps{
	width: 960px;
	margin-left:35px;
	
}

#step{
position:relative;
top:50px;
height:100%;
width:300px;
display:inline-block;
}

#step h1{
line-height:18px;
width:300px;	
font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
font-size:18px;
color:#6a645a;
	
}

#step p{
	position:absolute;
 	font-family: "Helvetica Neue";
	margin-top:20px;
	width:260px;
	color:#6a645a;
	font-size:13px;
}

#shop-now{
	width:100%;
	height: 150px;
	background:#dad5c6;
}

#shop-now h1{
position:relative;
text-align:center;
line-height:44px;
font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
font-size:26px;
color:#6a645a;
top: 20px;
}

#shop-now img{
	position:relative;
	display: block;
    margin-left: auto;
    margin-right: auto;
	width:134px;
	height:46px;
	top:35px;
}


footer{
	position:relative;
	width:1000px;
	height:40px;
	/*background:#504b43;*/
}

footer p{
position:relative;
top:10px;
text-align:center;
font-family: "HelveticaNeue-Bold";
/*
"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
 Helvetica, Arial, "Lucida Grande", sans-serif;*/
font-size:9px;
color:#e4e8eb;
}

footer a{
text-decoration:none;
color:#e4e8eb;
}

footer ul{
list-style-type:none;
margin:0;
padding:0;
}
footer li{
position:relative;
left:40px;
top:37.5px;
font-family: "HelveticaNeue-Medium";
font-size:11px;
color:#e4e8eb;
display:inline;
list-style-type: none;

}

footer ul li a{
text-decoration: none;
padding: .1em 1em;
}



