/* here you can have your custom css - just don't overwrite this file each time */


/* 127451-1401181458 */


#site-wrapper{
 position: relative;
 /*top:-35px;*/
 width:987px;
 padding:0;
/*background: #f8f3f0;*/
 margin-left: auto;
   margin-right: auto;	
}


.mp_current_price {
	font-family: 'Ubuntu', sans-serif; color:#585657;
	font-size: 14px;
}



.mp_grid .mp_product_price:before {
	background: none !important;
}

.mp_product_price{
		background: none !important;
}

.mp_cart_col_price{
		background: none !important;
		text-align: center;
	
}
.mp_cart_col_total{
		text-align: center;
	
}

.mp_cart_col_quant{
		background: none !important;
		text-align: center;
	
}