/* FlexMarket Responsive CSS 
-------------------------------------------------------------- */

@media (max-width: 480px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
	.outercontainer {
	    width: auto;
		margin: 0 auto;
		padding-left: 10px;
		padding-right: 10px;
	}
  .aq-template-wrapper [class*="aq_span"] {
    margin-bottom: 10px;
    float: none !important;
    width: 100% !important;
  }
  .span-box-container .span-box {
      float: none !important;
      width: 100% !important;
  }
  form.sa-form [class*="width"] {
    width: 100% !important;
    *width: 99.94680851063829% !important;
    float: none;
  }
  #mp_cart_page table input, textarea, .uneditable-input {
    width: auto;
  }
  #mp_cart_page table img.alignleft {
    margin: 0px !important;
  }
  #mp_cart_page table td {
    padding: 3px !important;
  }

}

@media (min-width: 481px) and (max-width: 575px) {
  #mp_cart_page table input, textarea, .uneditable-input {
    width: auto;
  }
  #mp_cart_page table img.alignleft {
    margin: 0px !important;
  }
  #mp_cart_page table td {
    padding: 3px !important;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
	body {
  	padding-left: 0px;
  	padding-right: 0px;
	}
	.outercontainer {
  	width: auto;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	}
  .aq-template-wrapper [class*="aq_span"] {
    margin-bottom: 10px;
    float: none !important;
    width: 100% !important;
  }
  .span-box-container .span-box {
    width: 49.888889999% !important;
    *width: 49.888889999% !important;
  }
  form.sa-form [class*="width"] {
    width: 49.888889999% !important;
    *width: 49.888889999% !important;
    float: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  	.outercontainer {
    	width: 754px;
	   margin: 0 auto;
  	}
}

@media (min-width: 980px) and (max-width: 1200px) {

}

@media (min-width: 1200px) {
  	.outercontainer {
    	width: 1210px;
		margin: 0 auto;
  	}
}