* { padding: 0; margin: 0; outline: 0; }

body {
font-size: 14px;
line-height: 18px;
font-family: "Helvetica Neue";
color:#6a645a;
margin: 0 auto;
height: 100%;;
width: 100%;
background-color:#e2ddcf;


}

nav{
	background:#504b43;
	height:40px;
	width:100%;
}



#nav-center{
position:relative;
margin: 0 auto;
height: 40px;
width: 960px;
}

#nav-center p{
	color:#FFF;
	font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
	font-size: 15px;
	float:right;
	position:relative;
	margin-right:30px;
	margin-top:15px;
}

#nav-center p a{
	text-decoration:none;
	color:#FFF;
}

#nav-center img{
	float:left;
	position:relative;
	margin-leftt:30px;
	margin-top:8px;
}

#container{
position:relative;
margin: 0 auto;
height: 800px;
width: 960px;
min-height:100%;
background-color:#e2ddcf;
clear: both ;
overflow: hidden ;

}

#content{
	position:relative;
	width:960px;
	height:600px;
}

#logo{
	position:relative;
	margin-top:70px;
	float:left;
	margin-left:40px;
	height: 476px;
	width: 334px;
	background-image: url(../images/logo.jpg);
	background-repeat-y: no-repeat;
}

#signup{
display:block;
position:relative;
margin-top:250px;
float:right;
width: 400px;

}

#signup h1{
font-size: 28px;
line-height: 18px;
font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
color:#6a645a;
margin-left:-50px;
}

#signup p{
margin-left:-50px;
margin-top:20px;
font-size: 14px;
line-height: 18px;
font-family: "Helvetica Neue";
width:400px;
color:#6a645a;
}

#signup h4{
display:inline-block;
margin-left:-50px;
margin-top:10px;
font-size: 11px;
line-height: 18px;
font-family: "Helvetica Neue";
width:400px;
color:#6a645a;
}

#signup h4 a{
color:#5b9aa9;
}




#signup img{
	position:relative;
	margin-top:20px;
	margin-left:-50px;

}

